<div class="gap" id="dues">
  <div class="container about">

    <h2>Association Dues and Donations</h2>
    <p>Your contribution, whether in the form of dues or a one-time donation, enables the alumni association to support the membership of the Gamma Upsilon chapter by helping with costs like Regional Leadership Conferences and Conclave, among others.</p>
    <p>A sustaining, $5 monthly donation in the form of alumni association dues is the best way to support the association and the chapter, but you can also make a one-time donation. Whichever option you choose, know that your contribution is making a difference.</p>


    <div class="dues-container">
      <div class="dues-container--left">
        <h3>Dues</h3>
        <p>Dues are $5/month, and the buttons below will enable you to use your PayPal account or credit/debit card to sign up for a recurring $5/month payment. You are able to cancel your dues at any time through PayPal.<p>

        @@include('paypal.html')

      </div>
      <div class="dues-container--right">
        <h3>One-time Donations</h3>

        <a href="https://www.paypal.com/biz/fund?id=N4B3ECJWYWXD2" target="_blank" class="donate-button button">Donate Now</a>

      </div>
    </div>

  </div>
</div>
