<div class="jarallax">
  <picture >
    <source
      type="image/webp"
      media="(min-width: 1080px)"
      srcset="/images/TKEFolder.webp,
              /images/TKEFolder.webp 1.5x">
    <source
      type="image/webp"
      media="(min-width: 720px)"
      srcset="/images/TKEFolder.webp,
              /images/TKEFolder.webp 1.5x,
              /images/TKEFolder.webp 2x">
    <source
      type="image/webp"
      srcset="/images/TKEFolder.webp,
              /images/TKEFolder.webp 2x">

    <source
      type="image/jpeg"
      media="(min-width: 1080px)"
      srcset="/images/TKEFolder.jpg,
              /images/TKEFolder.jpg 1.5x">
    <source
      type="image/jpeg"
      media="(min-width: 720px)"
      srcset="/images/TKEFolder.jpg,
              /images/TKEFolder.jpg 2x,
              /images/TKEFolder.jpg 2x">
    <img
      class="jarallax-img"
      style="z-index:-40;"
      src="/images/TKEFolder.jpg"
      srcset="/images/TKEFolder.jpg,
              /images/TKEFolder.jpg 2x"
      alt="A folder with the TKE crest on it.">
  </picture>
</div>
