<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Tau Kappa Epsion | CenTex Alumni</title>
<link rel="canonical" href="/">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="Tau Kappa Epsion | CenTex Alumni">
<meta property="og:type" content="website">
<meta property="og:description" content="">
<meta property="og:url" content="https://www.tkecentex.org/">
<meta property="og:image" content="https://www.tkecentex.org/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Tau Kappa Epsion | CenTex Alumni">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="https://www.oneamericaappeal.org/">

<link rel="stylesheet" href="/css/style.css">
