<nav class="nav" id="nav">
  <div class="menu-mobile">Menu</div>

  <div class="menubar" role="menubar">
    <a class="menuitem" role="menuitem" href="#home">Home</a>
    <a class="menuitem" role="menuitem" href="#about">About</a>
    <div class="logo-view">
      <img class="logo" src="/images/TKEhouseplateChapter.png" alt="One America Appeal for Hurricane Relief">
    </div>
    <a class="menuitem" role="menuitem" href="#join">Join</a>
    <a class="menuitem" role="menuitem" href="#info">Info</a>
  </div>
</nav>
