

$white          : #FFFFFF;
$black          : #565454;
$grey           : rgba(219, 219, 219, 1);

$america-red    : #982a29;
$darker-red     : #632424;
$america-blue   : #033A76;


$twitter-blue   : #1DA1F2;
$facebook-blue  : #3b5998;

// Base color variables.
$link           : $america-blue;
$visited        : $link;
$selection-bg   : $america-blue;
$selection      : $white;
